*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background:#303030;
    font-family: 'Amatic SC', cursive;
    color: whitesmoke;
    text-align: center;
}

h1{
    padding: 20px;
    margin: 50px; 
    font-size: 50px;
    font-weight: normal;
}

nav{
    position: fixed;
    width: 100%;
    z-index: 10;
}

a{ 
    display: inline;
    text-decoration: none;
    color: whitesmoke;
    background: #696969; 
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

a:hover{
    background-color: whitesmoke;
    color: black;
    transition: 1s
}

section{
    float: right;
    width: 400px;
    font-size: 24px;
    margin: 180px 10px 100px 10px;
    padding: 10px;
    }

div{
    position: absolute;
    margin: 100px 100px 30px;
    background-color: #696969;
    padding: 10px;
}

span{
    font-weight: bold;
}

.First{
    padding:10px;
}

.Second{
    padding:10px;
}

footer{
    margin: 600px 100px 100px;
    position: relative;
}
.Foot{
    font-style: italic;
    padding: 10px;
}