*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background:#303030;
    font-family: 'Amatic SC', cursive;
    color: whitesmoke;
    text-align: center;
}

/*========Heading/Title=====*/

h1{
    padding: 20px;
    margin: 50px; 
    font-size: 50px;
    font-weight: normal;
}

/*=========Navigational Bar=======*/

nav{
    position: fixed;
    width: 100%;
    z-index: 10;
}

a{ 
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    background: #696969; 
    padding: 5px 10px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

a:hover{
    background-color: whitesmoke;
    color: black;
    transition: 1s
}

main{
    max-width: 1000px;
    margin: 0 auto;
}
/*======Explaination Quotes======*/

section{
    display: inline-block;
    position: relative;
    top: 100px;
    left: 100px;
    width: 400px;
    font-size: 24px;
    padding: 10px;
    }

.Raven{
    float:right;
    margin: 40px 30px 0px 20px;
    padding: 10px 10px 5px 10px;
    background: #696969;
}
/*=======Lore cover Image======*/

.Coverart{
    display: inline-block;
    position: relative;
    top: 180px;
    background-color: #696969;
    padding: 10px;
}

/*=======Bold for Lore in Title=====*/

span{
    font-weight: bold;
}

/*========Side Quotes about Lore======*/

.First{
    padding:10px;
    text-align:left;
}

.Second{
    padding:10px;
    text-align:left;
}

.Third{
    padding:10px;
    text-align:left;
}
/* =========Footer======*/

footer{
    margin: 300px 100px 100px;
    position: relative;
}
.Foot{
    font-style: italic;
    font-size: 24px;
    padding: 10px;
}

/*======Animation UFO======*/

.UFO{
    position: absolute;
    animation: fly 7s alternate infinite ease-in-out;

}

@keyframes fly{
    0% { 
        left:-50px;
        top:50px;
    }
    25%{
        left:1150px;
        top:100px;
    }
    50% {
        left:1200px;
        top:600px;
    }
    75%{
        left:100px;
        top:800px;
    }
    100%{
        left:-60px;
        top:400px;
    }
 
}