*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background:#303030;
    font-family: 'Amatic SC', cursive;
    color: whitesmoke;
}

nav{
    display: inline;
    text-decoration: none;
    color: whitesmoke;
    background: #696969;
}
